@model List<ControlAcademicoMvc.Models.Estudiante>

<h2>Listado de Estudiantes</h2>

<table border="1">
    <tr>
        <th>Carné</th>
        <th>Nombre</th>
        <th>Promedio</th>
    </tr>

    @foreach (var estudiante in Model)
    {
        <tr>
            <td>@estudiante.Carne</td>
            <td>@estudiante.Nombre</td>
            <td>@estudiante.Promedio</td>
        </tr>
    }
</table>
